* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 5rem;
    color: #2e3239;
    
}
#icon {
    background-image: url("Images/logo-icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;

}

.container {
    padding-top: 2rem;
}
.hero {
    background-image: url("Images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    color: white;
}
.hero__text {
    position: relative;
    top: 50%;
    padding-left: 5rem;
}
.about {
    padding-top: 10rem;
    padding-left: 7%;
    color: #3f434c;
}
.three__grid {
    margin-top: 20rem;
    margin-bottom: 10rem;
}
.dark__section {
    background-color: #2d3e4e;
    height: 40rem;
    display: flex;
}
.dark__image {
    background-image: url("Images/product-image.jpg");
    height:80%;
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: flex-end;
}
.dark__section__text {
    padding-left: 10%;
    align-self: center;
}
.dark__text, .align-right, .icons, .try__btn {
    color: white;
    flex-direction: column;
    align-self: center;
}