* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 5rem;
    color: #2e3239;
    
}
#icon {
    background-image: url("Images/logo-icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;

}

.container {
    padding-top: 2rem;
}
.hero {
    background-image: url("Images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    color: white;
}
.hero__text {
    position: relative;
    top: 50%;
    padding-left: 5rem;
}